{
    "server": true,

    "data_dir": "{{ consul_data_dir }}",
    "pid_file": "{{ consul_data_dir }}/consul.pid",
    "datacenter": "{{ consul_datacenter }}",
    "client_addr": "{{ consul_conf_client_addr }}",
    "bind_addr": "{{ consul_conf_bind_addr }}",
    "bootstrap_expect": {{ consul_conf_bootstrap_expect }},
    "retry_join": {{ consul_conf_retry_join | to_json }},
    "enable_syslog": {{ consul_conf_enable_syslog | to_json}},

    "leave_on_terminate": {{ consul_conf_leave_on_terminate | to_json}},
    "skip_leave_on_interrupt": {{ consul_conf_skip_leave_on_interrupt | to_json}},
    "rejoin_after_leave": {{ consul_conf_rejoin_after_leave | to_json}}
}
